<!--SCRIPTS-->
<script src="/linker/js/jquery.min.js"></script>
<script src="/linker/js/subscribe.js"></script>
<!--SCRIPTS END-->

<!--STYLES-->
<link rel="stylesheet" href="/min/production.css">
<!--STYLES END-->

<section class="container">
    <section class="row">
        <section class="col-lg-12">
            <section class="logo"><img src="/images/webnified_logo.png" alt="Coming soon"></section>
            <h2 class="subtitle">Technology and Innovation for Business</h2>
            <h1 class="coming-soon">Coming soon...</h1>
            
            <section id="subscription-pane" class="notify">

                <section id="subscription-form" class="<%= subscriptionForm %>">
                    <p>I’m really excited, let me know when you have arrived.</p>
                    <input id="input-subscriber-name" type="text" name="full_name" placeholder="Your full name">
                    <input id="input-subscriber-email" type="email" name="email" placeholder="Your email address">
                    <button class="default blue" id="subscribe-button"><i class="message-icon"></i> Notify me</button>
                </section>
                
                <section id="prompt-input-message" class="hidden">
                    <p id="prompt-message">Please check your email and name.</p>
                </section>

                <section id="state-already-subscribed" class="<%= stateAlreadySubscribed %>">
                    <p>You're already on the list, we know that you're very excited for our launch.</p>
                    <br/>
                    <span id="different-person-subscribe" class="link">Are you a different person?</span>
                </section>
                        
                <section id="state-server-error" class="<%= stateServerError %>">
                    <p>OMG! Something went wrong with our servers, can you please try after a few minutes?</p>
                </section>

                <section id="state-subscription-failed" class="<%= stateSubscriptionFailed %>">
                    <p>OMG! There's something wrong with your email information, can you please try again?</p>
                </section>
                
                <section id="state-subscription-successful" class="<%= stateSubscriptionSuccessful %>">
                    <p>Done! we’ve added you to the list, we’ll let you know when we have arrived.</p>
                    <br/>
                    <span id="new-person-subscribe" class="link">Is there someone who will subscribe next?</span>
                </section>
            </section>
            
            <section class="social-media">
                <p>Don't forget to stalk us on:</p>
                <ul class="media-list">
                    <li><a href="http://facebook.com/webnified"><img src="/images/fb.png" alt="Facebook"></a></li>
                    <li><a href="http://twitter.com/webnified"><img src="/images/twitter.png" alt="Twitter"></a></li>
                </ul>
            </section>
        </section>
    </section>
</section>